{% extends "base.html" %}

{% block title %}Register RedDrink{% endblock %}

{% block content %}
    <h1>Register</h1>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-box">
            {{ form.username(class="input", placeholder="Username")}}
        </div>
        <div class="input-box">
            {{ form.email(class="input", placeholder="Email")}}
        </div>
        <div class="input-box">
            {{ form.password(class="input", placeholder="Password")}}
        </div>
        <div class="input-box">
            {{ form.confirm_password(class="input", placeholder="Confirm Password")}}
        </div>
        
        <!-- <button type="submit" class="btn">Login</button> -->
        {{ form.submit(class="btn")}}
        <div class="register-link">
            <p>
                have an account? <a href="{{ url_for('main.login') }}">Login</a>
            </p>
        </div>
    </form>
{% endblock %}