* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(225,225,225,0.2);
    box-shadow: 0 0 20px black;
    backdrop-filter: blur(50px);
    padding: 30px;
    border-radius: 20px;
}

.wrapper h1 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin: 20px
}

.wrapper .input-box {
    height: 45px;
    margin-top: 20px;
}

.wrapper .input-box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border: 2px solid rgba(225,225,225,0.2);
    border-radius: 40px;
    background-color: transparent;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgba(225,225,225,0.2);
}

.remember-me {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
}

.remember-me a {
    color: white;
    text-decoration: none;
}

.remember-me a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrapper .register-link {
    color: white;
    text-align: center;
    margin:20px 0 20px 0px;
}

.wrapper .register-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.wrapper .register-link a:hover {
    text-decoration: underline;
}

.txt {
    color: green;
    background-color: rgba(225,225,225,0.2);
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}